/scripts/convert_axioms_to_natural_language-copy.py
/scripts/template.txt
.venv
/generated-axiom-text
workflow.md
deliverables/patterns/abridged-master-schema.png
deliverables/patterns/abridged-master-schema.graphml